<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>SE Pennyworth Cars</title>
  </head>

  <body>
    <main>
      <section class="car__container">
        <section class="car__information">
          <section class="car__name">
            <div>
              <h2 class="car__brand"></h2>
              <h3 class="car__model"></h3>
            </div>
          </section>

          <section class="car__features">
            <div>
              <span>carroceria:</span>
              <p></p>
            </div>

            <div>
              <span>número de puertas</span>
              <p></p>
            </div>

            <div>
              <span>combustible:</span>
              <p></p>
            </div>

            <div>
              <span>transmisión:</span>
              <p></p>
            </div>

            <div>
              <span>precio:</span>
              <p>$</p>
            </div>
          </section>
        </section>

        <section class="car__header">
          <span class="car__number"></span>
        </section>
      </section>

      <div class="circle">
        <div class="semicircle semicircle-left"></div>
        <div class="semicircle semicircle-right"></div>
      </div>

      <div class="circle circle-outer-right"></div>
      <div class="circle circle-outer-left"></div>

      <div class="car__img">
        <picture>
          <img src="" alt="mazda mx-5 NC" />
        </picture>
      </div>

      <div class="car__slider">
        <div class="slider__btn" id="sliderBack" > < </div>

        <div class="slider__members">
          <div class="slider__member"></div>
          <div class="slider__member"></div>
          <div class="slider__member"></div>
        </div>

        <div class="slider__btn" id="sliderNext"> > </div>
      </div>

    </main>

    <script src="../js/main.js"></script>
  </body>
</html>
