<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>SE Pennyworth Cars</title>
  </head>

  <body>
    <main>
      <section class="question__container">
        <section></section>
        <section class="question__header"></section>
      </section>

      <div class="circle">
        <div class="semicircle semicircle-left"></div>
        <div class="semicircle semicircle-right"></div>
      </div>

      <div class="circle circle-outer-right"></div>
      <div class="circle circle-outer-left"></div>
    </main>

    <form class="question" id="form" method="POST">
      <div class="answers__container">
        <legend>¿Cual es el tipo de gasolina que desea?</legend>

        <div class="answers" id="answersCombustible">
          <div class="answer">
            <input type="radio" name="combustible" value="gasolina" id="gasolina" />
            <label for="gasolina"><p>gasolina</p></label>
          </div>

          <div class="answer">
            <input type="radio" name="combustible" value="electrico" id="electrico" />
            <label for="electrico"><p>electrico</p></label>
          </div>

          <div class="answer">
            <input type="radio" name="combustible" value="x" id="ambosCombustible" />
            <label for="ambosCombustible"><p>ambos</p></label>
          </div>
        </div>

        <div class="answers" id="answersTransmision">
          <div class="answer">
            <input type="radio" name="transmision" value="estandar" id="estandar" />
            <label for="estandar"><p>estandar</p></label>
          </div>

          <div class="answer">
            <input type="radio" name="transmision" value="automatico" id="automatico" />
            <label for="automatico"><p>automatico</p></label>
          </div>

          <div class="answer">
            <input type="radio" name="transmision" value="x" id="ambosTransmision" />
            <label for="ambosTransmision"><p>ambos</p></label>
          </div>
        </div>

        <div class="answers" id="answersPuertas">
          <div class="answer">
            <input type="radio" name="numeropuertas" value="2" id="dos" />
            <label for="dos"><p>2</p></label>
          </div>

          <div class="answer">
            <input type="radio" name="numeropuertas" value="4" id="cuatro" />
            <label for="cuatro"><p>4</p></label>
          </div>

          <div class="answer">
            <input type="radio" name="numeropuertas" value="x" id="ambosPuertas" />
            <label for="ambosPuertas"><p>ambos</p></label>
          </div>

        </div>

        <div class="answers" id="answersCarroceria">
          <div class="answer">
            <input type="radio" name="carroceria" value="convertible" id="convertible" />
            <label for="convertible"><p>convertible</p></label>
          </div>

          <div class="answer">
            <input type="radio" name="carroceria" value="sedan" id="sedan" />
            <label for="sedan"><p>sedan</p></label>
          </div>

          <div class="answer">
            <input type="radio" name="carroceria" value="hatcback" id="hatcback" />
            <label for="hatcback"><p>hatcback</p></label>
          </div>

          <div class="answer">
            <input type="radio" name="carroceria" value="camioneta" id="camioneta" />
            <label for="camioneta"><p>camioneta</p></label>
          </div>
        </div>

      </div>

      <div class="car__slider">
        <div class="slider__submit" id="btnSiguiente">
          <input type="submit" value="siguiente"> 
        </div>
      </div>
    </form>

    <script src="../js/questionsHandler.js"></script>
  </body>
</html>
