html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #fafafa;
    --second-color: #5679ff;
    --circle-right: #ffffff;
    --circle-left: #febc5c;
    --principal-font-color: #304e68;
}

.car__container,
.question__container {
    background: var(--main-color);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.car__header,
.question__header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* background-color: var(--second-color); */
    background-image: linear-gradient(#5679FF,
            #5678ffd8),
        url("../img/hero_car.jpg");
}


.circle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    position: absolute;
    z-index: 10;
    inset: 0;
    margin: auto;
    border-radius: 50%;

    width: 25rem;
    height: 25rem;
}

.circle-outer-left {
    border-right: 1rem dotted #fafafa60;
    width: 38rem;
}

.circle-outer-right {

    border-left: .2rem dashed #ff9d0b;
    width: 30rem;
    height: 30rem;

}

.semicircle-left {
    background-color: var(--circle-left);
    border-radius: 25rem 0rem 0 25rem;
}

.semicircle-right {
    background-color: var(--circle-right);
    border-radius: 0rem 25rem 25rem 0rem;
}


.car__img img {
    position: absolute;
    z-index: 20;
    inset: 0;
    margin: auto;
    width: 48rem;
}

.car__information {
    padding: 1rem 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--principal-font-color);
}

.car__information div {
    margin-bottom: 2rem;
}

.car__name {
    font-size: 3rem;
    color: var(--principal-font-color);
}

.car__model {
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1.2px #5d6981;
}

.car__model span {
    color: var(--principal-font-color);
    -webkit-text-stroke: 0;

}

.car__features p {
    color: #ff9d0b;
}

.car__slider {
    position: absolute;
    z-index: 20;
    inset: 0;
    top: 85%;
    margin: auto;
    width: 10rem;
    height: 2.5rem;

    border-radius: 2rem;
    background: #424242;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider__btn {
    color: var(--circle-left);
    font-size: 1.4rem;
    font-weight: bold;
    transition: all .5s ease-in-out;
}

.slider__btn:hover {
    cursor: pointer;
    color: #ff9d0b;
}

.slider__members {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.slider__member {
    width: .65rem;
    height: .65rem;
    background-color: var(--circle-left);
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.slider__member:hover {
    cursor: pointer;
    width: .85rem;
    height: .85rem;
    background-color: #ff9d0b;
}

.slider__submit {
    width: inherit;
    height: inherit;
}

.slider__submit input {
    width: inherit;
    background-color: transparent;
    border-radius: inherit;
    color: inherit;
    font-size: inherit;
    height: inherit;
    cursor: pointer;
    border: none;

    color: #ff9d0b;

    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}


.answers__container {
    position: absolute;
    z-index: 10;
    inset: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;

    display: grid;
    grid-template-rows: 30%;
}

.answers__container legend {
    text-align: center;
    font-size: 1.8rem;
}

.answer label {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.answer label:hover {
    cursor: pointer;
}

.answer {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem;
    border-radius: .4rem;

    background: var(--circle-right);
    height: 3rem;
    box-shadow: 5px 9px 74px 9px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 5px 9px 74px 9px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 5px 9px 74px 9px rgba(0, 0, 0, 0.31);
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}